<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light nav justify-content-end">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SQUADS</a>
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/heroes">HEROES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/villains">SWITCH SIDES</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-md-12">
    <p>Name: {{heroes.name}}</p>
    <p>Powers: {{heroes.powers}}</p>
    <p>Weakness: {{heroes.weakness}}</p>

    <p>Hero's squad: {{squad.name}}</p>

    <div>
        <a href="/villains/{{heroes.id}}/edit">Edit this hero</a><br>
        <a href="/villainssquad/{{heroes.squadId}}/heroes/{{heroes.id}}/delete">DELETE hero</a>
    </div>
</div>-->
