<div class="col-md-12">
    <p>Name: {{heroes.name}}</p>
    <p>Powers: {{heroes.powers}}</p>
    <p>Weakness: {{heroes.weakness}}</p>

    <p>Hero's squad: {{squad.name}}</p>

    <div>
        <a href="/heroes/{{heroes.id}}/edit">Edit this hero</a><br>
        <a href="//{{heroes.squadId}}/heroes/{{heroes.id}}/delete">DELETE hero</a>
    </div>
</div>